.grid-test{
	display: grid;
	max-width: 100%;
	grid-template-columns: 25% 50% 10% 5% 10%;
	font-size: 1vw;
	padding: 0.2vw;
	border: 0.5vw solid rgb(254, 221, 0);
	margin: 0.5vw;
	

}

.grid-test div{
	display: grid;
	background: rgb(133, 16, 16);
	padding: 5%;
	place-items: center;
	text-align: center;
	font-size: 300%;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	color:  #FFCCCB;
	
	
}


img {

	max-width: 100%;
	height: auto;



}



.bodywrapper {

	
	min-height: auto;
	height: 1500px;
	max-width: 100%;
	border: 0.8vw solid rgb(189, 58, 38);
	padding: 1vw;
	margin-top: 1vw;
	background: rgb(103,38,28);
	background: linear-gradient(90deg, rgba(103,38,28,1) 0%, rgba(126,41,28,1) 27%, rgba(153,48,22,1) 50%, rgba(120,47,20,1) 81%, rgba(154,36,16,1) 100%);


}

.bodywrapper .sim {

	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 50px;
	font-size: 5vw;
	text-align: center;
	padding: 1vw;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	


}

	#sim1 {

		color: #002776;
		background: #86bc1b;
		border: 0.4vw solid rgb(254, 221, 0);
		
	}

	#sim2 {

		color: rgb(191, 13, 62);
		background: rgb(0, 50, 160);
		border: 0.4vw solid rgb(254, 209, 65);



	}






.buttons {
	
	
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	justify-content: center;
	row-gap: 2vw;
	column-gap: 1vw;
	padding: 0.5vw;
	min-height: auto;
	height: 100px;
	max-width: 100%;
	min-width: auto;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	


}

.buttons div {

	background: rgb(0,156,59);
	text-align: center;
	font-size: 5vw;
	border: 0.3vw solid rgb(254, 209, 65);
	
	
}
