
.grid-test{
	display: grid;
	max-width: 100%;
	grid-template-columns: 25% 50% 10% 5% 10%;
	font-size: 1vw;
	padding: 0.2vw;
	border: 0.5vw solid rgb(254, 221, 0);
	margin: 0.5vw;
	

}

.grid-test div{
	display: grid;
	background: rgb(133, 16, 16);
	padding: 5%;
	place-items: center;
	text-align: center;
	font-size: 300%;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	color:  #FFCCCB;
	
	
}


img {

	max-width: 100%;
	height: auto;
	



}

	#brasil-flag{
		
	
	
	}

	#philippines-flag{


	}

	.images img {
	
	
	box-shadow: 1rem 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2), 0.5rem 1rem 1rem 0 rgba(0, 0, 0, 0.19);
	border: 0.2rem solid #0f0f0f;
	border-radius: 50%;
	
	}



.bodywrapper {

	
	min-height: auto;
	height: 50rem;
	max-width: 100%;
	border: 0.8vw solid rgb(189, 58, 38);
	padding: 1vw;
	margin-top: 1vw;
	background: rgb(103,38,28);
	background: linear-gradient(90deg, rgba(103,38,28,1) 0%, rgba(126,41,28,1) 27%, rgba(153,48,22,1) 50%, rgba(120,47,20,1) 81%, rgba(154,36,16,1) 100%);


}

.bodywrapper .sim {

	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 1.3rem;
	margin-right: 0.8vw;
	font-size: 5vw;
	text-align: center;
	padding: 1vw;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	


}



	#sim1 {

		color: #002776;
		background: #86bc1b;
		border: 0.4vw solid rgb(254, 221, 0);
		box-shadow: 1rem 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2), 0.5rem 1rem 1rem 0 rgba(0, 0, 0, 0.19);
	}

		#sim1:hover{

		background: #618814;
	
		}
	
	
	#sim2 {

		color: rgb(191, 13, 62);
		background: rgb(0, 50, 160);
		border: 0.4vw solid rgb(254, 209, 65);
		box-shadow: 1rem 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2), 0.5rem 1rem 1rem 0 rgba(0, 0, 0, 0.19);


	}

		#sim2:hover{

			background: rgb(1, 29, 88);

		}






.buttons {
	
	
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	justify-content: center;
	row-gap: 2vw;
	column-gap: 1vw;
	padding: 0.5vw;
	min-height: auto;
	height: 100px;
	max-width: 100%;
	min-width: auto;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	


}

.buttons div {

	background: rgb(0,156,59);
	text-align: center;
	font-size: 5vw;
	border: 0.3vw solid rgb(254, 209, 65);
	box-shadow: 1rem 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2), 0.5rem 1rem 1rem 0 rgba(0, 0, 0, 0.19);
	
	
}

	.buttons div:hover{

		background: rgb(2, 105, 42);


	}

.picture-box{

	display: grid;
	
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 1rem;
	column-gap: 1rem;
	background: rgb(103,38,28);
	border: 0.8vw solid rgb(189, 58, 38);
	min-height: auto;
	min-width: auto;
	max-width: 100%;
	height: 50rem;
	align-items: center;

}

	

	.weatherForm {

		text-align: center;
		
		



	}

		.cityInput {


			padding: 0.5vh;
			font-size: 1rem;
			border: 2px solid rgb(128, 128, 128);
			border-radius: 1rem;
			margin: 0.3rem;

		}

		button[type="submit"]{

			padding: 0.5vh;
			font-size: 1.5rem;
			font-weight: bold;
			border: 2px solid rgb(254, 209, 65);
			margin: 0.3rem;
			background-color: rgb(0,156,59);
			cursor: pointer;

		}

		button[type="submit"]:hover{

			background-color: rgb(4, 121, 49);

		}

	.picture-box .images {

		text-align: center;
		
		
	}

	.picture-box div{

		margin-top: 1rem;

	}

	.card {
		display: grid;
		
		min-width: 80%;
		
		align-items: center;
		padding: 1rem;
		text-align: center;
		background: rgb(42,126,152);
		background: linear-gradient(0deg, rgba(42,126,152,1) 31%, rgba(36,95,119,1) 69%);
		box-shadow: 1rem 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2), 0.5rem 1rem 1rem 0 rgba(0, 0, 0, 0.19);
		font-family: 'Courier New', Courier, monospace;
		border: 0.5rem solid rgb(141, 53, 53);
		
		
	}

		h1.cityDisplay{
			font-size: 3rem;
			margin-top: 0;
			margin-bottom: 0;
			

		}

		.card .humidityDisplay, .weatherEmoji, .errorDisplay{
			font-size: 1.5rem;
			margin: 0.3rem 0;
		}



		.tempDisplay{

			font-size: 3rem;
			margin-top: 0;
			


		}

		.humidityDisplay{

			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 0;
			
			


		}

		.weatherEmoji{

			margin-top: 0;
			margin-bottom: 0;
			font-size: 4rem;
		}

		.errorDisplay{

			font-size: 2.5rem;
			font-weight: bold;

		}

		.descDisplay{
			font-size: 2rem;
			margin-bottom: 0;
			font-weight: bold;
		
		}

