<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sim!!</title>
    <link rel="stylesheet" href="simresponseStyle.css">


</head>


<body>
    
<div class="backgroundPicture"> 
    <div class="responseHeader">
        <div id="placeholder">placeholder</div>
        <div id="clickerTitle">Clicker</div>
        <div class="headerToolBar">
            <div>Tool</div>
            <div>Tool</div>
            <div>Tool</div>
            <div>Tool</div>
        </div>
    
    </div>
    


    <div class="clickerBody">
        <div class="clickerTopRow" id="progressHeart1">
            <img src="images/minecraftheart.png" alt="A picture of a heart from Minecraft increasing in opacity as you click." height="100" width="100">
        </div>
        
        <button hx-post="/increase-opacity" hx-trigger="click" hx-include="[name='opacity']" 
        hx-swap-oob="true" hx-swap="outerHTML" style="opacity: 0.25" class="clickerTopRow" id="clicker">Click Here</button>
        <input type="hidden" name="opacity" id="opacityInput" value="0.25" hx-swap-oob="true">

        <div class="clickerTopRow" id="progressHeart2"><img src="images/minecraftheart.png" alt="A picture of a heart from Minecraft increasing in opacity as you click." height="100" width="100">
        </div>
        
        <div></div>
        <h1 id="scoreKeep">Score:</h1>
    
    </div>
</div>  

<script src="htmx.min.js"></script>
</body>
</html>